//- about us

section.about-us#about-us
	.about-us__info
		.container.about-us__container
			
			.about-us__left
				h2.title.about-us__left-title Curabitur volutpat
				p.desc.about-us__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed lorem augue. Maecenas vehicula metus eros, et pellentesque justo ornare nec. Curabitur volutpat, quam in mollis luctus, enim risus ullamcorper libero, eu vehicula sapien nunc et tortor.

			.about-us__right
				h2.title.about-us__right-title We create cool ideas.

	include categories.pug