//- categories

.categories
	ul.categories__list

		li.categories__item
			a.categories__link(href="img/categories-item-big1.jpg")
				img.about-us__card-img(src="img/categories-item1.jpg")
				h3.categories__title Idea.

		li.categories__item
			a.categories__link(href="img/categories-item-big2.jpg")
				img.about-us__card-img(src="img/categories-item2.jpg")
				h3.categories__title Concept.

		li.categories__item
			a.categories__link(href="img/categories-item-big3.jpg")
				img.about-us__card-img(src="img/categories-item3.jpg")
				h3.categories__title Design.
				
		li.categories__item
			a.categories__link(href="img/categories-item-big4.jpg")
				img.about-us__card-img(src="img/categories-item4.jpg")
				h3.categories__title Develop.

	.overlay

	.modal
		.close ✘
		img.modal__img(src="")