//- clients

section.clients#clients

	.container.clients__container
		ul.clients__list

			li.clients__item
				a(href="#").clients__link
					img.clients__logo(src="img/clients-logo1.png")

			li.clients__item
				a(href="#").clients__link
					img.clients__logo(src="img/clients-logo2.png")

			li.clients__item
				a(href="#").clients__link
					img.clients__logo(src="img/clients-logo3.png")

			li.clients__item
				a(href="#").clients__link
					img.clients__logo(src="img/clients-logo4.png")

			li.clients__item
				a(href="#").clients__link
					img.clients__logo(src="img/clients-logo5.png")

			li.clients__item
				a(href="#").clients__link
					img.clients__logo(src="img/clients-logo6.png")