//- contact

section.contact#contact
	.container.contact__container

		.contact__form-wrap
			.contact__tabs
				a(href='#contact-form').contact-tabs__link.small-title.current contact us
				a(href='#phone').contact-tabs__link.small-title phone
				a(href='#e-mail').contact-tabs__link.small-title e-mail
				span.line

			.contact__tabs-content
				form.tab-content#contact-form.active-content
					input.input(type="text" placeholder="Name")
					input.input(type="text" placeholder="Phone")
					input.input(type="text" placeholder="E-mail")
					textarea.textarea(placeholder="Message")
					button.btn.contact__btn send

				.tab-content#phone
					a(href="callto:+1-202-555-0105").tab-content__link +1-202-555-0105
				.tab-content#e-mail
					a(href="mailto:ourcompany@gmail.com").tab-content__link ourcompany@gmail.com

