//- contact

section.contact#contact
	.container.contact__container

		.contact__form-wrap
			.contact__tabs
				ul.contact-tabs__list
					li.contact-tabs__item.small-title.current contact us
					li.contact-tabs__item.small-title phone
					li.contact-tabs__item.small-title e-mail

			form.contact__form
				input.input(type="text" placeholder="Name")
				input.input(type="text" placeholder="Phone")
				input.input(type="text" placeholder="E-mail")
				textarea.textarea(placeholder="Message")
				button.btn.contact__btn send