//- home

section.home#home

	.home-slider

		.home-slider__info

			//- bottom-controls
			ul.home-slider__bottom-controls-list
				li.home-slider__bottom-controls-item.current 01
				li.home-slider__bottom-controls-item 02
				li.home-slider__bottom-controls-item 03
				li.home-slider__bottom-controls-item 04

			//- desc
			.home-slider__desc-wrap
				.home-slider__top-controls
					.home-slider__arrow.home-slider__arrow--left
						img(src="img/arrow-left.svg")

					.home-slider__numbers-wrap
						.home-slider__number 01
					.home-slider__arrow.home-slider__arrow--right
						img(src="img/arrow-right.svg")

				ul.home-slider-item-desc__list
					li.home-slider-item-desc__item.current
						h3.home-slider__author John Doe
						h2.title.home-slider__title Architecture aims at eternity
					li.home-slider-item-desc__item
						h3.home-slider__author Lorem ipusum
						h2.title.home-slider__title Lorem ipsum dolor sit
					li.home-slider-item-desc__item
						h3.home-slider__author Amet Consectetur
						h2.title.home-slider__title Adipicing elit. Veniam nesunt
					li.home-slider-item-desc__item
						h3.home-slider__author Neque Earum'
						h2.title.home-slider__title Est aliquam saepe nemo

		//- img
		.home-slider__img-wrap
			ul.home-slider__list
				li.home-slider__item.current
					img.home-slider__img(src="img/home-slider1.jpg")
				li.home-slider__item
					img.home-slider__img(src="img/home-slider2.jpg")
				li.home-slider__item
					img.home-slider__img(src="img/home-slider3.jpg")
				li.home-slider__item
					img.home-slider__img(src="img/home-slider4.jpg")

		
		
