//- header
header.header

	//- logo
	.logo
		a.logo__link(href="#")
			img.logo__img(src="img/logo.svg")

	//- nav
	nav.nav
		ul.nav__list
				li.nav__item
					a.nav__link.current(href= `#home`) home
				li.nav__item
					a.nav__link(href= `#about-us`) about-us
				li.nav__item
					a.nav__link(href= `#projects`) projects
				li.nav__item
					a.nav__link(href= `#clients`) clients
				li.nav__item
					a.nav__link(href= `#contact`) contact
				//- li.nav__item
					//- a.nav__link(href= `#blog`) blog

	.mobile-nav-btn
		i.material-icons menu
		
	//- search
	.search
		.search__input-wrap
			input(type="search").search__input
			button(type="submit").search__btn