/* about us */

.about-us__info
	padding: 170px 0
	min-height: 670px
	background: url(../img/about-bg.png) no-repeat top 64px right

.about-us__container
	padding: 0 30px
	display: flex
	align-items: center
	flex-wrap: wrap
	

.about-us__left
	width: 50%
	padding-right: 30px

.about-us__right
	width: 50%
	margin-top: 30px
	padding-left: 125px

.about-us__left-title
	@include rem(72)
	color: $gray

.about-us__desc
	margin-top: 50px

.about-us__right-title
	max-width: 560px