/* categories */

.categories
	width: 100%

.categories__list
	display: flex
	flex-wrap: wrap

.categories__item
	width: 25%
	font-size: 0

	&:hover .categories__link:after
		opacity: 1

	@include media(970px)
		width: 50%

	@include media(500px)
		width: 100%

.about-us__card-img
	width: 100%

.categories__link
	position: relative
	display: block

	&:after
		content: ''
		display: block
		width: calc(100% - 75px)
		height: calc(100% - 75px)
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		border: 21px solid $acc-color
		opacity: 0
		transition: opacity .5s

		@include media(1600px)
			border-width: 17px

		@include media(1440px)
			border-width: 14px
			width: calc(100% - 65px)
			height: calc(100% - 65px)

		@include media(1200px)
			border-width: 12px
			width: calc(100% - 55px)
			height: calc(100% - 55px)

.categories__title
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	font-family: $main-font
	font-weight: 800
	@include rem(60)
	letter-spacing: 25
	color: #fff

	@include media(1600px)
		@include rem(50)

	@include media(1440px)
		@include rem(40)

	@include media(1200px)
		@include rem(30)

.overlay
	background: #000
	display: none
	width: 100%
	height: 100%
	position: absolute
	left: 0
	top: 0
	z-index: 1000
	opacity: 0
	cursor: pointer

.modal
	height: 80%
	width: 90%
	position: fixed
	left: 0
	top: 0
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	z-index: 1001
	opacity: 0
	display: none
	pointer-events: none

.modal__img
	max-height: 100%
	max-width: 100%
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	display: block
	margin: auto

.close
	color: white
	cursor: pointer
	font-size: 42px
	padding-bottom: 10px
	position: absolute
	bottom: 100%
	right: 0

	@include media(970px)
		font-size: 26px
