$container-width: 1530px
$main-font: 'Raleway Extrabold', sans-serif
$desc-font: 'Montserrat Regular', sans-serif
$gray: #bcc0cd
$light-border-color: #eff1f5
$acc-color: #97d1eb
$desc-color: #9ca2b4

*
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  overflow-x: hidden
  width: 100%

body
  position: relative
  
h1, h2, h3, h4, h5, h6, p, ul, li
  margin: 0
  padding: 0

ul
  list-style: none
  padding: 0
  margin: 0

a
  text-decoration: none
  color: inherit

.container
  max-width: $container-width
  margin: 0 auto


    
    