doctype html
html(lang='eng-ENG')
	head
		meta(charset='UTF-8')
		title
			block title
		meta(name='author' content)
		meta(name='description' content)
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		link(rel='stylesheet' href='css/main.min.css')
	body
		include components/header.pug
		div.maincontent
			block content
		include components/footer.pug
		script(src='js/jquery-3.2.1.min.js')
		script(src='js/main.js')
		
