extends ../template.pug
block title
	| Selene
block content
	main.maincontent
		include index/home.pug
		include index/about-us.pug
		include index/projects.pug
		include index/clients.pug
		include index/contact.pug